#totals {
  text-align: right;
}
.button {
  --width: 30vw;
  width: var(--width);
  height: 3em;
  position: absolute;
  right: calc(50vw - var(--width) / 2);
        color: #000;
    background-color: #ebeccf;
    border: none;
    border-radius: 8px;
    transition: transform .5s .1s;
}
.button:hover {
  transform: scale(1.25);
}
.checkout_page {
  padding: 8px;
}