.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop_items{
    font-size: 1.5em;
    background-color: #ebeccf;
    padding: 4px;
    border-radius: 8px;
    transition: transform .25s ;
}
.pop_items:hover {
    transform: scale(1.25);
}