ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  justify-items: center;
  align-items: center;
  border: 2px black solid;
}
a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}
.navbar {
  background-color: #ff3b3b;
}
.Link {
  transition: background-color .5s ease-in .1s;
  border-radius:6px;
  padding: 8px;
}
.Link:hover {
  background-color: #ebeccf;
}