button {
    width: 100px;
    position: relative;
}
.inc_dec_button {
    width: 30px;
    height: 30px;
}
#numbers {
    display: flex;
    justify-content: center;
}
#inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}
img {
    width: 100px;
    height: 100px;
}
.submit {
    --width: 75px;
    width: var(--width);
    margin: 0 calc(50% - var(--width)/2)
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.middle > input {
    width: 100px;
}
.item {
    flex-direction: column;
    display: flex;
    align-items: center;
}
#foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 16px;
}
.food_input {
    text-align: center;
    padding: 0px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}